html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

table, th, td{
    border: 1px solid;
}

table {
    width: 50%;
}

th {
    min-height: 40px;
    padding-left: 10px;
}

div {
    margin: 5px;
}

.categoriaraiz {
}

.categoriafolha {
    padding-left: 18px;
}

.caixaentradadados {
    
}

.colunavalor{
    text-align:right;
}