﻿@{
    ViewData["Title"] = "Cadastro";
}

<script>
    window.onload = function () {
        listarMovimentos();
        listarCategoriasParaCombo();
    }
</script>
<div class="mb-3 caixaentradadados">
    <label for="txtCodCliente">Usuário: </label>
    <div class="input-group">
        <input type="text" id="txtCodCliente" value="@ViewBag.CodCliente" disabled="disabled" />
    </div>
</div>
<div class="mb-3 caixaentradadados">
    <p>
        <label for="txtDataMovimentacao">Data: </label>
        <input type="date" id="txtDataMovimentacao" />
        <label for="txtValorMovimentacao" >Valor: </label>
        <input type="number" id="txtValorMovimentacao"/>
    </p>
    <p>
        <label for="cmbCategoria">Categoria: </label><select id="cmbCategoria"></select>
        <button type="button" id="btnIncluirMovimentacao" onclick="adicionarMovimento();">Incluir Movimento.</button>
    </p>
</div>

<div>
    <table class="table table-striped" id="tblMovimento">
        <thead>
            <tr>
                <th>Data</th>
                <th>Valor</th>
                <th>Categoria</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
