﻿@{
    ViewData["Title"] = "Categoria";
}

<script>
    window.onload = function () {
        listarCategorias();
        listarCategoriasSuperiorParaCombo();
    }
</script>
<div class="mb-3 caixaentradadados">
    <label for="txtCodCliente">Usuário: </label>
    <div class="input-group">
        <input type="text" id="txtCodCliente" value="@ViewBag.CodCliente" disabled="disabled" />
    </div>
</div>

<div class="mb-3 caixaentradadados">
    <label for="txtNomeCategoria">Nome da Categoria: </label>
    <input id="txtNomeCategoria" />
    <label for="cmbCategoria">Categoria Superior: </label>
    <select id="cmbCategoria"></select>
    <button class="btn btn-outline-secondary" type="button" id="btnIncluirCategoria" onclick="adicionarCategoria();">Incluir Categoria.</button>
</div>

<table class="table table-striped" id="tblCategoria">
    <thead>
        <tr>
            <th>Nome</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>