﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="mb-3">
    <label for="txtCodCliente" class="form-label">Usuário:</label>
    <div class="input-group" style="width: 190px;">
        <input class="form-control" placeholder="00000000000" aria-label="0" aria-describedby="btnLogin" id="txtCodCliente" />
        <button class="btn btn-outline-secondary" type="button" id="btnLogin" onclick="login()">Login</button>
    </div>
</div>