﻿@{
    ViewData["Title"] = "Relatórios";
}

<script>
    window.onload = function () {
        listarCategoriasParaComboRelatorio();
    }
</script>

<div class="mb-3 caixaentradadados">
    <label for="txtCodCliente">Usuário: </label>
    <div class="input-group">
        <input type="text" id="txtCodCliente" value="@ViewBag.CodCliente" disabled="disabled" />
    </div>
</div>
<div class="mb-3">
    <label for="cmbCategoria">Categoria: </label>
    <select id="cmbCategoria" onchange="listarRelatorioCategoria()"></select>
</div>
<div>
    <table class="table table-striped" id="tblRelatorio">
        <thead>
            <tr>
                <th>Data</th>
                <th>Valor</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>